@import url(./about.css);
@import url(./contact.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./person.css);
@import url(./projects.css);

@import url('https://fonts.googleapis.com/css2?família=Poppins:wght@400; 500; 700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;    /*faz com que a margin e o padding nao cubrao espaços adicionais na pag*/
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
    background-color: black;
}

body{
    font-family:'Poppins', sans-serif;
    
}