#projects {
    height: 90vh;
    min-width: 100%;
    background-color: black;
}
.projects-title{
    margin-bottom: 4rem;
}


.projects-title h2 {
    padding: 1rem;
    font-size: calc(0.5vw + 2rem);
    color: white;

}
.container-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-projects {
    display: flex;
    width: 90% ;
    height: 100%;
    align-items: center;
    justify-content: center !important;
    flex-direction: row;
}

.project {
    width: 100%;
    height: 400px;
    padding: 30px 20px 20px;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    z-index: 1;

}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background-color: #09093d;
    border-radius: 20px 20px 0 0;
    z-index: -1;
}

.img-project {
    height: 50%;
    width: 100%;
    border-radius: 30px;
    border: 4px solid #090920;
    overflow: hidden;
    /*qualquer conteúdo que exceda as dimensões do elemento será cortado e não será visível*/
    margin: 0 auto;
    position: relative;
}

.img-project a img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 2px solid white;
    /*coloca borda. tam. formato. cor*/
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    /* redimensiona a img cortando ou a expandindo para cabem no container, ajudando a manter qualidade */
    transition: transform .3s ease-out;
    /*Isso cria um efeito de “transform” suave quando o usuário passa o cursor sobre a imagem.*/
    cursor: pointer;
}

.img-project a img:hover {
    transform: scale(1.1);
}

.project span {
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
    margin: .75rem auto .5rem auto;
}

.project p {
    color: #3d3d4b;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
}

.cta-project {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cta-project a {
    width: 45%;
    padding: 5px 16px;
    font-size: 1.25rem;
    color: white;
    background-color: #09093d;
    border-radius: 10px;
    text-decoration: none;
    transition: transform .3s ease;

}

.cta-project a:hover {
    transform: scale(1.1);
    filter: brightness(0.9);

}

@media only screen and (max-height: 530px) and (orientation: landscape) {
    #projects {
        height: 140vh;
    }

    .project {
        height: 380px;
    }

}